* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  

  #navbar {
    border-bottom: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
  }
  
  #navbar ul {
    display: flex;
    list-style: none;
  }
  
  #navbar ul li {
    margin-left: 1em;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .form {
    width: 450px;
    margin: 0 auto;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.3em;
  }
  
  .form-control input {
    padding: 5px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
  }


  .container .item{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    max-width: 29%;
  }

  .item h2, .item p {
    margin-bottom: 0.8em;
  };

  .actions {
    display: flex;
  }

  .actions a, .actions input{
    border: solid #bbb;
    border-radius: 5px;
    text-decoration: none;
    background-color: #fff;
    padding: 5px;
    font-size: 15px;
    color: black;
    cursor: pointer;
  }
  

  .actions .details-btn {
    border-color: aqua;
    color: aqua;
  }

  .actions .delete-btn {
    border-color: rebeccapurple;
    color: rebeccapurple;
  }