<h1>Edite o seu livro:</h1>
<form class="form" action="/books/updatebook" method="POST">
    <input type="hidden" name="id" value="{{book.id}}">
    <div class="form-titles">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título aqui" value="{{book.title}}">
    </div>
    <div class="form-titles">
        <label for="pages">Quantas páginas esse livro tem?</label>
        <input type="number" name="pages" placeholder="Digite o número de páginas aqui" value="{{book.pages}}">
    </div>
    <input type="submit" value="Editar">
</form>