<h1>Qual é o nome do seu livro favorito?</h1>
<form class="form" action="/books/cadastrolivros" method="post">
    <div class="form-titles">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título aqui">
    </div>
    <div class="form-titles">
        <label for="pages">Quantas páginas esse livro tem?</label>
        <input type="number" name="pages" placeholder="Digite o número de páginas aqui">
    </div>
    <input type="submit" value="Cadastrar">
</form>