<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, magni neque! Non ducimus officia atque error accusamus molestiae, ratione nostrum, quos sequi, aut est quo earum tenetur in nesciunt! Quod.</p>


<h2>O nome do user é {{user.username}}</h2> <!-- Para trazermos um dado, colocamos ele entre {{}}, no caso estamos trazendo o atributo username do obj user -->